<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/basic-jquery-slider.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/mobile.css" rel="stylesheet" type="text/css">
    {{#title}}
    <title>{{title}}</title>
    {{/title}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="outer_wrap">
    <div id="wrap">
        <div th:replace="layout/header :: header"></div>

<h1>상품 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제품이름</label>
                <input class="form-control" id="goods_title" name="goods_title" type="text" size="40" />
            </div>
            <div class="form-group">
                <label for="author"> 저자 </label>
                <input class="form-control" id="goods_writer" name="goods_writer" type="text" size="40" />
            </div>
            <div class="form-group">
                <label for="content"> 출판사 </label>
                <input class="form-control" id= "goods_publisher" name="goods_publisher" type="text" size="40" />
            </div>
            <div class="form-group">
                <label for="content"> 제품정가 </label>
                <input class="form-control" id= "goods_price" name="goods_price" type="text" size="40" />
            </div>
            <div class="form-group">
                <label for="content"> 제품종류 </label>
                <select class="form-control" id= "goods_status" name="goods_status">
                    <option value="bestseller"  >베스트셀러</option>
                    <option value="steadyseller" >스테디셀러</option>
                    <option value="newbook" selected >신간</option>
                    <option value="on_sale" >판매중</option>
                    <option value="buy_out" >품절</option>
                    <option value="out_of_print" >절판</option>
                </select>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
<div th:replace="layout/footer :: footer"></div>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="/js/jquery/stickysidebar.jquery.js" type="text/javascript"></script>
<script src="/js/jquery/basic-jquery-slider.js" type="text/javascript"></script>
<script src="/js/jquery/tabs.js" type="text/javascript"></script>
<script src="/js/jquery/carousel.js" type="text/javascript"></script>
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>